.calc{
    width: 400px;
    height: 550px;
    background: gray;
    margin: 0 auto;
}
#screen{
    width: 80%;
    height: 50px;
    margin-left: 35px;
    margin-top: 40px;
    pointer-events: none;
}
.btn{
    width: 65px;
    height: 40px;
    margin-left: 26px;
    margin-top: 34px;
    background: burlywood;
}
